@page "/Plant"
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Plant> Localizer

<PageHeader PageType="@typeof(Plant)" ImageName="plant.jpg" />

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant01.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["+ 1.200.000"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["BOMBAS AUTOMOTIVAS PRODUZIDAS NOS ÚLTIMOS 10 ANOS"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["Uma estrutura fabril completa, equipada com máquinas de última geração e processos produtivos controlados, garante a excelência Schadek."]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant02.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-md-6 col-6 offset-lg-8 col-lg-4">
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["100"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["FERRAMENTAIS/MÊS"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["A ferramentaria Schadek destaca-se pela qualidade e precisão dos moldes, dispositivos e ferramentais utilizados na produção dos componentes e montagem final de cada produto."]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant03.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5">
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["160"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["TONELADAS DE ALUMÍNIO"]
                </h3>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["PROCESSADAS/MÊS"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["Recém-instalada em nova área e com novas células de injeção Buhler, a fundição Schadek ocupa 5.200 m2 e tem capacidade de processar 160 toneladas de alumínio/mês, produzindo até 210.000 componentes mensais."]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant04.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-md-6 col-6 offset-lg-8 col-lg-4">
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["1.000.000"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["DE PEÇAS USINADAS/MÊS"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["Numa das maiores áreas da fábrica, modernos centros de usinagem Heller e Robodrill, fresadoras Mitsubishi, tornos Index com alta capacidade e versatilidade de produção, dão forma a componentes como carcaças, eixos, engrenagens, válvulas e muitos outros que integram nosso completo portfólio de bombas automotivas. São mais de 200 máquinas responsáveis pela produção de cerca de 500 itens do nosso catálogo."]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant05.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5">
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["3.000.000"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["DE COMPONENTES UTILIZADOS NA MONTAGEM/MÊS"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["Concentração e controle de qualidade total na montagem dos produtos são um dos principais diferenciais Schadek."]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant06.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-md-6 col-6 offset-lg-8 col-lg-4">
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["100%"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["QUALIDADE"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["Todos os padrões de qualidade definidos no início do processo de desenvolvimento são aplicados e verificados com rigor em todas as fases de produção."]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant07.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-7">
                <h3 class="super-title text-uppercase cor-branco">
                    @Localizer["R$"]
                </h3>
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["5.000.000"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["INVESTIDOS NA IMPLANTAÇÃO DO SAP"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["Com a integração de todas as aplicações e processos, inteligência analítica, mobilidade e controles da organização no moderno sistema SAP, a Schadek ganha mais agilidade e segurança na tomada de decisões - do desenvolvimento de um novo produto à satisfação do cliente. Com uma solução consolidada, robusta e expansível, a Schadek atinge um novo patamar tecnológico para suportar seus novos desafios."]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background" style="background-image: url(../img/page-backgrounds/plant08.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-md-6 col-md-6">
                <h1 class="master-title text-uppercase cor-laranja">
                    @Localizer["24 A 48"]
                </h1>
                <h3 class="title text-uppercase cor-laranja">
                    @Localizer["HORAS PARA LIBERAÇÃO DE PEDIDOS"]
                </h3>
                <p class="description cor-branco">
                    @Localizer["A Schadek trabalha com 60 dias de disponibilidade de todos os itens do seu portfólio no estoque. Isso garante que os pedidos colocados na fábrica sejam liberados no prazo mínimo de 24 horas para a transportadora. Além disso, a Schadek oferece frete CIF para entregas em todo o Brasil."]
                </p>
            </div>
        </div>
    </div>
</div>